// COLOR VARIABLES
$color-primary: #2c2924;
$color-primary-dark: rgb(46, 39, 31);

$color-secondary: #f3f2f2;

$color-grey-light-1: #504b48;
$color-grey-light-2: rgb(56, 54, 54);

$color-red-dark-1: rgb(228, 44, 44);
$color-red-dark-2: rgb(236, 10, 10);

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


//Responsive Breakpoints
$bp-largest: 75em; // 1200px/16px;
$bp-large: 60em; // 900px
$bp-medium: 50em;// 800px
$bp-small: 37.5;
