.mat-dialog-content{
  font-size: 1.5rem;
  min-width:20rem;
  max-width:30rem;
}
.mat-dialog-actions{
  display: flex;
  justify-content: space-evenly;
}
.mat-icon{
  margin-right: 1.6rem;
}      


