.form-container{
  margin: 2.5rem
}
.mat-toolbar{
    box-shadow: .1rem .1rem .5rem #333;
  }
.mat-card{
      margin: 5rem auto;
      min-width:20rem;
      max-width:35rem;
      box-shadow: 2rem 2rem 4rem #333;
    }

    
.mat-card-title{
    color: white;
    background-color:rgb(112, 6, 252);
    text-align: center;
  }
  
.mat-icon{
    margin-right: 1.6rem;
  }   
.mat-card-actions{
    display: flex;
    justify-content: space-evenly;
  }   
  